<%- include('partials/header') -%>

<main class="text-light" style="height: 95vh; background-color: #212121;">
  <div class="container">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Discord Nodejs</h1>
          <p class="lead text-muted">
            Something short and leading about the collection below—its contents,
            the creator, etc. Make it short and sweet, but not too short so
            folks don’t simply skip over it entirely.
          </p>
          <p>
            <a href="/auth" class="btn btn-primary my-2">Login with Discord</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
